{{define "header"}}
	<!DOCTYPE html>
	<html>
		<head>
			<title>Volatile</title>
			<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
			<link rel="stylesheet" href="/static/styles/main.css">
		</head>
		<body>
			<main>
{{end}}

{{define "footer"}}
			</main>
			<script src="/static/scripts/main.js"></script>
		</body>
	</html>
{{end}}
